body {
  background-color: #ededed;
  font-family: 'Open Sans';
}

label {
  margin-bottom: 15px;
}

hr {
  margin: 0;
  border-top: 2px solid #ededed;
}

.navbar {
  border: 0;
  border-radius: 0;
  padding: 12px 0;
}

.navbar-inverse {
  background-color: #000;
  border-color: #000;
}

#zine-logo {
  height: 29px;
}

.container-fluid {
  padding: 0 20px;
}

.container-inner {
  padding: 30px;
}

.bg-light-gray {
  background-color: #f8f8f8;
}

.bg-white {
  background-color: #fff;
}

.form-group {
  padding: 0 30px 0 0;
  margin-bottom: 0;
}

.sort-arrow {
  font-size: 10px;
}

.show-pointer {
  cursor: pointer;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #9e9ea6;
  color: #9e9ea6;
  height: 40px;
  padding: 13px 20px;
  transition: none;
}

.form-control:focus {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #8eced3;
  color: #262626;
}

.btn {
  min-width: 130px;
  height: 40px;
  border-radius: 0;
  border: 0;
  padding: 0 20px;
  line-height: 40px;
  vertical-align: top;
}

.btn-primary {
  background-color: #8eced3;
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus,.btn-primary:active:focus {
  background-color: #c4eaed;
}

.btn-filter {
  margin-top: 35px;
}

.table {
  font-size: 12px;
  margin-bottom: 0;
}

.table>tbody>tr>th {
  border: 0;
  padding: 0 0 15px 1px;
}

.table>tbody>tr>td {
  padding: 15px 0 15px 1px;
  border-top: 1px solid #ededed;
}

@media (max-width: 767px) {
  .container-fluid {
    padding: 0;
  }

  .navbar {
    margin-bottom: 0;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

  .btn-filter {
    margin-top: 15px;
  }

  .table-container {
    overflow-x: scroll;
  }

  .table {
    min-width: 900px;
  }
}
