<div class="container-fluid">
  <div class="bg-white">
    <div class="container-inner col-sm-12 col-xs-12">
      <div class="form-group col-sm-1 col-xs-6">
        <label>Instagram</label>
        <input type="text" class="form-control text-right" ng-model="sdCtrl.filterOptions.instagram" ng-change="sdCtrl.filter()">
      </div>
      <div class="form-group col-sm-1 col-xs-6">
        <label>Facebook</label>
        <input type="text" class="form-control text-right" ng-model="sdCtrl.filterOptions.facebook" ng-change="sdCtrl.filter()">
      </div>
      <div class="form-group col-sm-1 col-xs-6">
        <label>Twitter</label>
        <input type="text" class="form-control text-right" ng-model="sdCtrl.filterOptions.twitter" ng-change="sdCtrl.filter()">
      </div>
      <div class="form-group col-sm-1 col-xs-6">
        <label>Blog</label>
        <input type="text" class="form-control text-right" ng-model="sdCtrl.filterOptions.blog" ng-change="sdCtrl.filter()">
      </div>
      <div class="form-group col-sm-1 col-xs-6">
        <label>Youtube</label>
        <input type="text" class="form-control text-right" ng-model="sdCtrl.filterOptions.youtube" ng-change="sdCtrl.filter()">
      </div>
      <div class="form-group col-sm-1 col-xs-6">
        <label>Pinterest</label>
        <input type="text" class="form-control text-right" ng-model="sdCtrl.filterOptions.pinterest" ng-change="sdCtrl.filter()">
      </div>
      <div class="form-group col-sm-2 col-xs-12">
        <label>Location</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-sm-4 col-xs-12">
        <button class="btn btn-primary btn-filter">FILTER</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="container-inner table-container">
      <table class="table">
        <tr>
          <th class="show-pointer" ng-click="sdCtrl.selectAll()">
            <img src="images/unchecked.png" ng-hide="sdCtrl.allSelected()" />
            <img src="images/checked.png" ng-show="sdCtrl.allSelected()" />
          </th>
          <th ng-click="sdCtrl.orderBy('name')" class="show-pointer">
            Name
            <span ng-show="sdCtrl.orderColumn === '+name'" class="sort-arrow">&#9650;</span>
            <span ng-show="sdCtrl.orderColumn === '-name'" class="sort-arrow">&#9660;</span>
          </th>
          <th ng-click="sdCtrl.orderBy('email')" class="show-pointer">
            Email
            <span ng-show="sdCtrl.orderColumn === '+email'" class="sort-arrow">&#9650;</span>
            <span ng-show="sdCtrl.orderColumn === '-email'" class="sort-arrow">&#9660;</span>
          </th>
          <th ng-click="sdCtrl.orderBy('instagram')" class="show-pointer">
            Instagram
            <span ng-show="sdCtrl.orderColumn === '+instagram'" class="sort-arrow">&#9650;</span>
            <span ng-show="sdCtrl.orderColumn === '-instagram'" class="sort-arrow">&#9660;</span>
          </th>
          <th ng-click="sdCtrl.orderBy('blog')" class="show-pointer">
            Blog
            <span ng-show="sdCtrl.orderColumn === '+blog'" class="sort-arrow">&#9650;</span>
            <span ng-show="sdCtrl.orderColumn === '-blog'" class="sort-arrow">&#9660;</span>
          </th>
          <th ng-click="sdCtrl.orderBy('facebook')" class="show-pointer">
            Facebook
            <span ng-show="sdCtrl.orderColumn === '+facebook'" class="sort-arrow">&#9650;</span>
            <span ng-show="sdCtrl.orderColumn === '-facebook'" class="sort-arrow">&#9660;</span>
          </th>
          <th ng-click="sdCtrl.orderBy('twitter')" class="show-pointer">
            Twitter
            <span ng-show="sdCtrl.orderColumn === '+twitter'" class="sort-arrow">&#9650;</span>
            <span ng-show="sdCtrl.orderColumn === '-twitter'" class="sort-arrow">&#9660;</span>
          </th>
          <th ng-click="sdCtrl.orderBy('youtube')" class="show-pointer">
            Youtube
            <span ng-show="sdCtrl.orderColumn === '+youtube'" class="sort-arrow">&#9650;</span>
            <span ng-show="sdCtrl.orderColumn === '-youtube'" class="sort-arrow">&#9660;</span>
          </th>
          <th ng-click="sdCtrl.orderBy('snapchat')" class="show-pointer">
            Snapchat
            <span ng-show="sdCtrl.orderColumn === '+snapchat'" class="sort-arrow">&#9650;</span>
            <span ng-show="sdCtrl.orderColumn === '-snapchat'" class="sort-arrow">&#9660;</span>
          </th>
          <th ng-click="sdCtrl.orderBy('pinterest')" class="show-pointer">
            Pinterest
            <span ng-show="sdCtrl.orderColumn === '+pinterest'" class="sort-arrow">&#9650;</span>
            <span ng-show="sdCtrl.orderColumn === '-pinterest'" class="sort-arrow">&#9660;</span>
          </th>
          <th ng-click="sdCtrl.orderBy('location')" class="show-pointer">
            Location
            <span ng-show="sdCtrl.orderColumn === '+location'" class="sort-arrow">&#9650;</span>
            <span ng-show="sdCtrl.orderColumn === '-location'" class="sort-arrow">&#9660;</span>
          </th>
        </tr>

        <tr ng-repeat="person in sdCtrl.persons | orderBy : sdCtrl.orderColumn">
          <td class="show-pointer" ng-click="person.selected = !person.selected">
            <img src="images/unchecked.png" ng-hide="person.selected" />
            <img src="images/checked.png" ng-show="person.selected" />
          </td>
          <td>
            {{person.name}}
          </td>
          <td>
            <span ng-show="person.email">{{person.email}}</span>
            <span ng-hide="person.email">-</span>
          </td>
          <td>
            <span ng-show="person.instagram">{{person.instagram | zineNumber}}</span>
            <span ng-hide="person.instagram">-</span>
          </td>
          <td>
            <span ng-show="person.blog">{{person.blog | zineNumber}}</span>
            <span ng-hide="person.blog">-</span>
          </td>
          <td>
            <span ng-show="person.facebook">{{person.facebook | zineNumber}}</span>
            <span ng-hide="person.facebook">-</span>
          </td>
          <td>
            <span ng-show="person.twitter">{{person.twitter | zineNumber}}</span>
            <span ng-hide="person.twitter">-</span>
          </td>
          <td>
            <span ng-show="person.youtube">{{person.youtube | zineNumber}}</span>
            <span ng-hide="person.youtube">-</span>
          </td>
          <td>
            <span ng-show="person.snapchat">Y</span>
            <span ng-hide="person.snapchat">N</span>
          </td>
          <td>
            <span ng-show="person.pinterest">{{person.pinterest | zineNumber}}</span>
            <span ng-hide="person.pinterest">-</span>
          </td>
          <td>
            <span ng-show="person.location">{{person.location}}</span>
            <span ng-hide="person.location">-</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
